<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <a href="/">
        <h1>The Club</h1>
      </a>
      <div class="nav">
        <% if (user) { %>
        <h1>WELCOME <%= user.fullName %></h1>
        <a href="/log-out">Log out</a>
        <a href="/sign-off">Sign off</a>
        <% } %> <% if (user && user.isMembership) { %>
        <a href="/messages/create">Create new message</a>
        <% } %> <% if (user && !user.isMembership) { %>
        <a href="/join">Join the club</a>
        <% } %> <% if (user && !user.isAdmin) { %>
        <a href="/admin">Become an admin</a>
        <% } %> <% if (!user) { %>
        <a href="/sign-up">Sign up</a>
        <a href="/sign-in">Sign in</a>
        <% } %>
      </div>
    </header>

    <div class="messages">
      <% if (messages.length > 0) { %> <% messages.forEach(message => { %>
      <div class="message">
        <div>
          <h2><%= message.title %></h2>
          <% if (user && user.isMembership) {%>
          <p><strong>Author:</strong> <%= message.author.fullName %></p>
          <p><strong>Date:</strong> <%= message.date_formatted %></p>
          <%}%> <% if (user && user.isAdmin) { %>
          <a href="<%- `/${message._id}/delete` %>">Delete message</a> <% } %>
          <p><%= message.content %></p>
        </div>
      </div>
      <% }); %> <% } else { %>
      <div class="message">
        <p>No messages yet</p>
      </div>
      <% } %>
    </div>
  </body>
</html>
